<p-panel header="Редакция">

<form (ngSubmit)="onSubmit()" class="form-container">

  <div class="p-field">
    <label for="name">Име</label>
    <input type="text" pInputText [(ngModel)]="apartment.name" name="name">
  </div>

  <div class="p-field">
    <label for="description">Описание</label>
    <textarea id="description" pInputTextarea [(ngModel)]="apartment.description" name="description"></textarea>
  </div>

  <div class="p-field">
    <label for="address">Адрес</label>
    <input type="text" id="street" pInputText [(ngModel)]="apartment.address.street" name="street">
    <input type="text" id="city" pInputText [(ngModel)]="apartment.address.city" name="city">
    </div>

    <div class="p-field">
      <label for="apartmentImage">Снимки на имот</label>
        <div class="card flex justify-content-center">
          <p-fileUpload
          mode="basic"
          name="demo[]"
          chooseIcon="pi pi-upload"
          (onSelect)="onImageUpload($event)"
          [auto]="true"
          chooseLabel="Качи снимка" />
        </div>
      </div>
      <div style="background-color: #f8f9fa; padding: 20px; border-top: 1px solid #e7e7e7; border-radius: 10px;
      display: flex; gap: 1;">
        @for (item of apartment.apartmentImages; track $index) {
          <app-apartment-image [apartmentImageId]="item.id" [isEdit]="true"></app-apartment-image>
        }
      </div>

  <div class="p-field">
    <label for="price">Цена за нощувки</label>
    <input type="number" id="price" pInputText [(ngModel)]="apartment.price" name="price">
  </div>

  <div class="p-field">
    <label for="cleaningFee">Такса за почистване</label>
    <input type="number" id="cleaningFee" pInputText [(ngModel)]="apartment.cleaningFee" name="cleaningFee">
  </div>

  <p-button  routerLink="/"  label="Редакция"></p-button>
</form>
</p-panel>

<div style="margin-top: 1%;">
  <p-button type="back" routerLink="/" routerLinkActive="router-link-active"  label="Назад" ></p-button>
</div>

