
<p-panel header="Добави имот">
<form (ngSubmit)="onSubmit($event)">
  <div class="p-field">
    <label for="name">Име</label>
    <input type="text" id="name" [(ngModel)]="apartment.name" name="name" required>
  </div>

  <div class="p-field">
    <label for="description">Описание</label>
    <textarea id="description" [(ngModel)]="apartment.description" name="description" required></textarea>
  </div>

  <div class="p-field">
    <label for="address">Адрес</label>
    <input type="text"  [(ngModel)]="apartment.address.street" name="street" placeholder="Улица">
    <input type="text"  [(ngModel)]="apartment.address.city" name="city" placeholder="Град">
  </div>

    <div class="card flex justify-content-center">
      <p-toast />
      <p-fileUpload
          name="demo[]"
          url="https://www.primefaces.org/cdn/api/upload.php"
          (onUpload)="onImageUpload($event)"
          [multiple]="true"
          accept="image/*"
          maxFileSize="1000000">
              <ng-template pTemplate="content">
                  <ul *ngIf="uploadedFiles.length">
                      <li *ngFor="let file of uploadedFiles">
                          {{ file.name }} - {{ file.size }} bytes
                      </li>
                  </ul>
              </ng-template>
      </p-fileUpload>
  </div>

  <div class="p-field">
    <label for="price">Цена</label>
    <input type="number" id="price" [(ngModel)]="apartment.price" name="price" required>
  </div>
  <div class="p-field">
    <label for="price">Такса за почистване</label>
    <input type="number" id="price" [(ngModel)]="apartment.cleaningFee" name="price" required>
  </div>

  <button type="submit" pButton label="Добави"> </button>
</form>
</p-panel>
