
<h2 style="text-align: center;">Add apartment</h2>
<form (ngSubmit)="onSubmit($event)">
  <div class="p-field">
    <label for="name">Name</label>
    <input type="text" id="name" [(ngModel)]="apartment.name" name="name" required>
  </div>

  <div class="p-field">
    <label for="description">Description</label>
    <textarea id="description" [(ngModel)]="apartment.description" name="description" required></textarea>
  </div>

  <div class="p-field">
    <label for="address">Address</label>
    <input type="text"  [(ngModel)]="apartment.address.street" name="street" placeholder="Street">
    <input type="text"  [(ngModel)]="apartment.address.city" name="city" placeholder="City">
  </div>

  <div class="p-field">
    <label for="apartmentImage">Apartment Image</label>
      <div class="card flex justify-content-center">
        <p-fileUpload
        mode="basic"
        name="demo[]"
        chooseIcon="pi pi-upload"
        (onSelect)="onImageUpload($event)"
        [auto]="true"
        chooseLabel="Browse" />
      </div>
    </div>
    <div style="background-color: #f8f9fa; padding: 20px; border-top: 1px solid #e7e7e7; border-radius: 10px;">
      @for (item of apartment.apartmentImages; track $index) {
        <app-apartment-image [apartmentImageId]="item.id"></app-apartment-image>
      }
    </div>

  <div class="p-field">
    <label for="price">Price</label>
    <input type="number" id="price" [(ngModel)]="apartment.price" name="price" required>
  </div>
  <div class="p-field">
    <label for="price">Cleaning fee</label>
    <input type="number" id="price" [(ngModel)]="apartment.cleaningFee" name="price" required>
  </div>

  <button type="submit" pButton label="Create Apartment"> </button>
</form>
