version: '3.4'

services:
  mssql:
    container_name: sql-server
    image: mcr.microsoft.com/mssql/server:2019-latest
    #image: mcr.microsoft.com/mssql/server:2017-CU11-ubuntu
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "Na!12345678"
    ports:
      - 1433:1433