<div class="register-container">
  <h2>Регистрация</h2>
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <div>
      <label for="firstname">Име</label>
      <input id="firstname" name="firstname" [(ngModel)]="registerUser.firstname" required />
      <div *ngIf="registerForm.submitted && !registerForm.controls['firstname'].valid">
        <small>Името е задължително.</small>
      </div>
    </div>

    <div>
      <label for="lastname">Фамилия</label>
      <input id="lastname" name="lastname" [(ngModel)]="registerUser.lastname" required />
      <div *ngIf="registerForm.submitted && !registerForm.controls['lastname'].valid">
        <small>Фамилията е задължителна.</small>
      </div>
    </div>

    <div>
      <label for="phoneNumber">Телефонен номер</label>
      <input id="phoneNumber" name="phoneNumber" [(ngModel)]="registerUser.phoneNumber" required />
      <div *ngIf="registerForm.submitted && !registerForm.controls['phoneNumber'].valid">
        <small>Телефонният номер е задължителен.</small>
      </div>
    </div>

    <div>
      <label for="email">Имейл адрес</label>
      <input id="email" name="email" type="email" [(ngModel)]="registerUser.email" required email />
      <div *ngIf="registerForm.submitted && !registerForm.controls['email'].valid">
        <small>Имейл адреса е задължителен.</small>
      </div>
    </div>

    <div>
      <label for="password">Парола</label>
      <input id="password" name="password" type="password" [(ngModel)]="registerUser.password" required minlength="6" />
      <div *ngIf="registerForm.submitted && !registerForm.controls['password'].valid">
        <small>Паролата е задължителна (минимум 6 символа).</small>
      </div>
    </div>

    <div>
      <label>Регистрация като собственик</label>
      <input id="registerLikeOwner" name="registerLikeOwner" [(ngModel)]="registerUser.registerLikeOwner" type="checkbox">
    </div>

    <button pButton onclick="onSubmit()" type="submit">Регистрирай</button>
  </form>
</div>
