<p-panel [showHeader]="true" header="Имоти">
<div class="flex flex-row gap-1 " style="display: flex; flex-direction: row; row-gap: 1%; gap:1%">
  <p-floatLabel>
      <p-calendar
      [(ngModel)]="rangeDates"
      selectionMode="range"
      [readonlyInput]="true"
      [showIcon]="true"/>
      <label for="range" class="font-bold block mb-2"> Избери дати:</label>
  </p-floatLabel>

  <p-floatLabel>
    <input pInputText id="searchByLocationOrName" [(ngModel)]="requestBody.searchByLocationOrName" />
    <label for="searchByLocationOrName" class="font-bold block mb-2"> Къде отиваш? </label>
  </p-floatLabel>

  <p-floatLabel>
    <p-inputNumber
    [(ngModel)]="requestBody.minPrice"
    mode="currency"
    inputId="currency-germany"
    [showButtons]="true"
    currency="EUR"
    locale="de-DE" />
    <label for="minPrice" class="font-bold block mb-2"> От (лв) </label>
  </p-floatLabel>

  <p-floatLabel>
    <p-inputNumber
    [(ngModel)]="requestBody.maxPrice"
    mode="currency"
    inputId="currency-germany"
    [showButtons]="true"
    currency="EUR"
    locale="de-DE" />
    <label for="maxPrice" class="font-bold block mb-2"> До (лв) </label>
  </p-floatLabel>

  <p-button
      label="Търси"
      icon="pi pi-check"
      (onClick)="load()" />
</div>

<hr>
<a [routerLink]="['apartments/add']" pButton label="Add apartment" icon="pi pi-pencil" style="text-decoration: none;"></a>

<div class="apartments">
  @for (item of apartments; track $index) {
    <apartment [apartment]="item"></apartment>
  }
</div>
</p-panel>
