<p-panel header="Преглед">
  <form>

    <div class="p-field">
      <label for="name">Име</label>
      <input type="text" readonly="true" pInputText [(ngModel)]="apartment.name" name="name">
    </div>

    <div class="p-field">
      <label for="description">Описание</label>
      <textarea id="description" readonly="true" pInputTextarea [(ngModel)]="apartment.description" name="description"
      style="height: auto;"></textarea>
    </div>

    <div class="p-field">
      <label for="address">Адрес</label>
      <input type="text" readonly="true" id="street" pInputText [(ngModel)]="apartment.address.street" name="street">
      <input type="text" readonly="true" id="city" pInputText [(ngModel)]="apartment.address.city" name="city">
      </div>

    <label for="apartmentImage">Снимки на имот</label>
    <div class="card flex justify-content-center"></div>

    <div style="display: flex; ">
      @for (item of apartment.apartmentImages; track $index) {
        <app-apartment-image [apartmentImageId]="item.id" [isEdit]="false"></app-apartment-image>
      }
    </div>

    <div class="p-field">
      <label for="price">Цена</label>
      <input type="number" readonly="true" id="price" pInputText [(ngModel)]="apartment.price" name="price">
    </div>

    <div class="p-field">
      <label for="cleaningFee">Такса за почистване</label>
      <input type="number" readonly="true" id="cleaningFee" pInputText [(ngModel)]="apartment.cleaningFee" name="cleaningFee">
    </div>

  </form>
</p-panel>

<div style="margin-top: 1%;">
  <p-button type="back" [routerLink]="['']"  label="Назад"></p-button>
</div>


